<%=semantic_form_for [:admin, @download], :multipart => true do |f|%>
  <% f.inputs do %>
    <%= f.input :edition, :as => :select, :collection =>  options_from_collection_for_select(Edition.order("number DESC"), "id", "number",@download.edition_id ) %>
    <%= f.input :area  %> 
    <%= f.input :pdf, :as => :file %>
    <%= f.buttons %>
  <%end%>
<%end%>
<h4><%= @download.pdf %></h4>
