<div class="sign-in-form container">
  <%= form_tag sessions_path, :class => "form-stacked span4" do  %>
    <h2>Sign in</h2>
    <div class="external-auth span4">
      <a class="" href=<%= auth_at_provider_path(:provider => :facebook) %>><%= image_tag "facebook.png" %></a>
      <a class="" href=<%= auth_at_provider_path(:provider => :google) %>><%= image_tag "google.png" %></a>
      <a class="" href=<%= auth_at_provider_path(:provider => :twitter) %>><%= image_tag "twitter.png" %></a>
    </div>
    <div class="field">
      <%= label_tag :email %>
      <%= email_field_tag :email, params[:email] %>
    </div>
    <div class="field">
      <%= label_tag :password  %>
      <%= password_field_tag :password, params[:password]  %>
    </div>
    <div class="input-prepend">
      <%= check_box_tag :remember_me, params[:remember_me]  %>
      <span>Remember me</span>
    </div>
    <hr/>
    <%= submit_tag "Log in", :class=>"btn success"%>
  <% end %>
</div>
