<li class="archive-edition row">
  <div class="span3">
    <%= image_tag edition.image_url.to_s, :size=> "200x250" %>
  </div>
  <div class="span7">
    <ul>
      <% edition.articles.published.each do |article| %>
        <li><%= article.title %></li>
      <%end%>
    </ul>  
    <%= link_to "Read online ", read_edition_path(edition) %>
  </div>  
</li>
  
  <span class="span2">
  	<%= image_tag "/assets/pdf-m.png"%>
  </span>
  <span class="span6">
    <% edition.downloads.each do |download|%>
      <h3><%= link_to  download.area.concat(" edition"), download.pdf.to_s %></h3>
    <%end%>
  </span>
