<div class="edition span11">
  <div class="download-header">
  	<div class="span2"><h3>Download pdf :</h3></div>
    <% @edition.downloads.each do |download|%>
      <h3><%= link_to download.area, download.pdf_url %></h3>	
    <% end %>
  </div>
  <% @articles.each do |article| %>
    <% if article.picture %>
      <div class="theme-picture">
    	<%= image_tag article.picture.image%>
      </div>
    <% end %>
    <a href=<%= read_article_path article %> > 
      <h1 class="title"> <%= article.title %> </h1>
    </a>
    <span class="mini-bar">
      <p class="date"><%= "#{article.publish_date.to_date} ( #{pluralize article.comments_attracted, 'comment'} )"%></p>
    </span>
    <p class="abstract"><%= article.abstract %></p>
    <hr/>
  <% end %>
</div>
