<div class="sign-up-form container">
  <%= form_for @user, :html =>{:class => "form-stacked span4"} do |f| %>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <h2>Sign Up</h2>
    <div class="external-auth span4">
      <a class="" href=<%= auth_at_provider_path(:provider => :facebook) %>><%= image_tag "facebook.png" %></a>
      <a class="" href=<%= auth_at_provider_path(:provider => :google) %>><%= image_tag "google.png" %></a>
      <a class="" href=<%= auth_at_provider_path(:provider => :twitter) %>><%= image_tag "twitter.png" %></a>
    </div>

    <div class="field">
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
    <hr/>  
    <%= f.submit :class=>"btn btn-success"%>
  <% end %>
</div>
