<!DOCTYPE html>
<html>
<head>
  <title>Techbot</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="feedback-btn"><%= image_tag "feedback.png" %></div>
  <div id="feedback" class="hidden">
    <%= form_tag feedback_path, :method => :post, :remote => true, :class=>"form-stacked"  do |f|%>
      <%= select_tag :reaction, options_for_select([["Positive", 1],["Negative", 2],["Neutral", 3]],"positive")%>
      <%= label_tag :info,"Feedback" %>
      <%= text_area_tag :info %><hr/>
      <%= submit_tag :post, :class=> "btn success submit"%>
      <%= button_tag :cancel, :class=> "btn danger cancel"%>
    <%end%>
  </div>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
  <header class="row">
    <a class="logo brand span2" href="/home">Techbot</a>
      <ul class="nav">
        <li><a href="/home">Latest</a></li>
        <li><a href="/archive">Archive/Downloads</a></li>
        <li><a href="/classifiedspreads">Classified</a></li>
        <li><a href="/jobs">Jobs</a></li>
        <li><a href="/Advertisement">Ads</a></li>
        <li><a href="/contact_us">Contact us</a></li>	
      </ul>
  	<section class="btn-group span3">
  		<% if logged_in? %>
        <%= link_to "Sign out #{current_user.username}", logout_path, {:class => "btn btn-warning "} %>
  		<%else%>
        <%= link_to "Sign in", login_path, {:class=>"btn btn-success"} %>
        <%= link_to "Sign up", register_path, {:class=>"btn btn-info"} %>
  		<%end%>
  	</section>
    </header>
    </div>
    </div>
    </div>

    <div class="alert-bar">
      <% if flash.now["alert"] %> 
        <div class="alert">
          <ul>
          <% flash.now["alert"].each do |aler| %>
            <li><%= aler %></li>
          <%end%>
          </ul>
        </div>
      <%end%>
      <% if flash.now["notice"] %> 
        <div class="notice">
          <ul>
          <% flash.now["notice"].each do |notice| %>
            <li><%= notice %></li>
          <%end%>
          </ul>
        </div>
      <%end%>
    </div>

    <div class="main-content container">
      <%= yield %>
    </div>
  <footer></footer>
</div>
</body>
</html>
